
/* pixel font */
@font-face 
{ 
	font-family: 'IllusionSerif';
	src: 	url('fonts/IllusionSerif-Regular.ttf') format('ttf'),
				url('fonts/IllusionSerif-Regular.woff') format('woff'),
				url('fonts/IllusionSerif-Regular.woff2') format('woff2'),
			 	url('fonts/IllusionSerif-Regular.otf') format('otf');
}

/* retro font */
@font-face
{
	font-family: AlteHaasGrotesk;
	src: url('fonts/AlteHaasGroteskBold.ttf')
}

/* SCP / Regular / Pro font */
@font-face 
{
	font-family: 'Inter';
	src: 	url('fonts/Inter_28pt-Regular.ttf');
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}


:root
{
	/* japanese-colors from https://x.com/nuevo_tokyo */
	
	--neo-white: #f3f3f2;
	--neo-lighbrownA: #887F7A;
	--neo-lightbrownB: #A58F86;
	--neo-brown: #281a14;
	--neo-black: #16160e;

	--neo-light1: #d4dcda;
	--neo-light2: #dddcd6;
	--neo-light3: #b3ada0;
	--neo-dark2: #544A47;

	--neo-ueno1: #44617B;
	--neo-ueno2: #F7FCFE;
	--neo-ueno3: #DDDCD6;
	--neo-ueno4: #80989B;

	--neo-purple: #180614;
	--neo-grey: #2b2b2b;

	--primary: var(--neo-purple);
	--secondary: var(--neo-black);
	/* --color-scheme: dark; */

	--theme-A : var(--neo-white);
	--theme-B : var(--neo-lighbrownA);
	--theme-C : var(--neo-lightbrownB);
	--theme-D : var(--neo-brown);
	--theme-E : var(--neo-black);
}

/* presets */

.italic
{
	font-style: italic;
}

.no-bkg
{
	background-color: transparent!important;
}

.anchor_ctn
{
	position: relative;
}

.anchor_bot
{
	position: absolute;
	bottom: 0;
}

.anchor_right
{
	/* position: absolute; */
	right: 0;
}

.padd1
{
	padding: 1rem;
}

.c_rounded
{
	border-radius: 20px;
}

.round_right
{
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
}

.round_left
{
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
}

a.lightest1,
a.lightest2,
a.bright1,
a.bright2,
a.light1,
a.light2,
a.dark1,
a.dark2,
a.darkest1,
a.darkest2
{
	--bs-nav-link-hover-color: color-mix(in srgb, black 30%, var(--bs-btn-color));
}

.lightest1
{
	color: var(--theme-E);
	background-color: var(--theme-A);

	--bs-btn-color: var(--theme-E);
	--bs-btn-bg : var(--theme-A);
}

.lightest2
{
	color: var(--theme-B);
	background-color: var(--theme-A);

	--bs-btn-color: var(--theme-B);
	--bs-btn-bg : var(--theme-A);
}

.bright1
{
	color: var(--theme-C);
	background-color: var(--theme-A);

	--bs-btn-color: var(--theme-C);
	--bs-btn-bg : var(--theme-A);
}

.bright2
{
	color: var(--theme-A);
	background-color: var(--theme-C);

	--bs-btn-color: var(--theme-A);
	--bs-btn-bg : var(--theme-C);
}

.light1
{
	color: var(--theme-E);
	background-color: var(--theme-B);

	--bs-btn-color: var(--theme-E);
	--bs-btn-bg : var(--theme-B);
}

.light2
{
	color: var(--theme-C);
	background-color: var(--theme-B);

	--bs-btn-color: var(--theme-C);
	--bs-btn-bg : var(--theme-B);
}

.dark1
{
	color: var(--theme-A);
	background-color: var(--theme-D);

	--bs-btn-color: var(--theme-A);
	--bs-btn-bg : var(--theme-D);
}

.dark2
{
	color: var(--theme-B);
	background-color: var(--theme-D);

	--bs-btn-color: var(--theme-B);
	--bs-btn-bg : var(--theme-D);
}

.darkest1
{
	color: var(--theme-A);
	background-color: var(--theme-E);

	--bs-btn-color: var(--theme-A);
	--bs-btn-bg : var(--theme-E);
}

.darkest2
{
	color: var(--theme-B);
	background-color: var(--theme-E);

	--bs-btn-color: var(--theme-B);
	--bs-btn-bg : var(--theme-E);
}

.btn
{
	--bs-btn-border-color: var(--bs-btn-color);

	--bs-btn-hover-color: var(--bs-btn-color);
  --bs-btn-hover-bg: color-mix(in srgb, black 10%, var(--bs-btn-bg));
  --bs-btn-hover-border-color: color-mix(in srgb, black 10%, var(--bs-btn-border-color));

	--bs-btn-active-color: var(--bs-btn-hover-color);
  --bs-btn-active-bg: color-mix(in srgb, black 20%, var(--bs-btn-bg));
  --bs-btn-active-border-color: color-mix(in srgb, black 20%, var(--bs-btn-border-color));
}

/* presents END */


main
{
	/* background-color: black; */
	height: 100%;
	width: 100%;
	background-color: var(--theme-A);
	/* color: #A58F86; */
	/* color: #f8fbf8;  */

	font-family: 'Inter';

	display: grid;
	grid-template-columns: auto;
	grid-template-rows: auto auto auto;
	grid-template-areas: 
		"header"
		"main"
		"footer";
}

main *
{
	/* background-color: #2b2b2b; */
	z-index: 0!important;
	/* color: #f8fbf8;  */

	animation: fadeIn .3s;
}

.header
{
	/* display: inline-block; */
	/* border: 3px solid #887f7a; */
	/* border-radius: 10%; */
	/* font-family: 'AntiqueOliveStdCompact'; */
	/* line-height: 2; */
	/* text-align: center; */
	/* margin: 0; */
	/* width: 100%; */
	
	/* border-radius: 3rem; */

	grid-area: header;
	padding-top: 1vw;
	padding-bottom: 1vw;
	padding-right: 4vw;
	padding-left: 4vw;
}

#header a
{
	font-size: 1.6rem;
}

#header .title
{
	font-size: 2.7rem;
}


.header_current
{
	/* border-bottom: var(--bs-btn-border-color); */
	border-width: 0 0 1px 0;
	border-style: groove;
	padding-bottom: 0;
}

.footer
{
	display: grid;
	grid-template-columns: 1fr 1fr;
	
	padding-top: 2vw;
	/* padding-bottom: 2vw; */
	padding-right: 4vw;
	padding-left: 4vw;

	grid-area: footer;
}

.footer .left
{
	display: grid;
	grid-template-columns: 1fr 1fr;

	padding-top: 1vw;
	padding-bottom: 1vw;
	padding-right: 3vw;
	padding-left: 3vw;
}

.footer .left *
{
	display: block;
}

.footer a
{
	font-size: 1.6rem;
	width: min-content;
}

/* .popup, 
.popup *
{
	z-index: 1!important;
	color: #2b2b2b!important;
} */

.main_title
{
	/* padding: 3rem; */
	margin: 0;
	/* color: var(--neo-white); */
	color: #A58F86;
	font-size: 16vw;

	text-align: center;

}

.main_presentation
{
	/* font-family: 'IllusionSerif'; */
	padding: 1rem;
	text-align: left;
	/* line-height: 2; */
}

.profile_pic *
{
	
	padding: 5px;
	border-radius: 40%;
	aspect-ratio: 1/1;
	/* border: 3px solid #887f7a; */
}

.resume
{
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	gap: .5rem;
}

@media screen and (max-width: 1200px)
{
	.resume
	{
		grid-template-columns: repeat(4, 1fr);
	}
}

@media screen and (max-width: 800px)
{
	.resume
	{
		display: inline-block;
	}
}

.double-column
{
	grid-column: span 2;
}

.double-line
{
	grid-row: span 2;
}

.resume > div
{
	padding: 1rem;
	border-radius: 10px;
	/* align-items: center; */
	text-align: center;
	/* border: 2px solid #f8fbf8; */
	/* background-color: #887f7a; */
}

.resume > div > div
{
	/* border: 2px solid #f8fbf8; */
	/* background-color: #2b2b2b; */
	padding: 1rem;
}

h1, h2, h3, h4
{
	/* font-family: 'AntiqueOliveStdCompact';  */
	font-family: 'AlteHaasGrotesk';
	/* font-family: 'Cocogoose'; */
	line-height: 2;
	/* padding: 1rem; */
	/* display: inline-block; */
	line-height: 1.2em;
	font-weight: 400;
}

p, p1, p2, p3, p4
{
	font-family: 'Inter';
	line-height: 1.2em;
	font-weight: 500;
	align-self: center;
	text-align: left;
}

h1
{
	font-size: 7vw;
}

h2
{
	font-size: 2.75vw;
}

h3
{
	font-size: 1.6vw;
}

p1
{
	font-size: 8vw;
}

p2
{
	font-size: 2.75vw;
}

p3
{
	font-size: 1.6vw;
}

/* Computer ONLY */
@media screen and (min-width: 768px)
{
	.c_rounded_md
	{
		border-radius: 20px;
	}

	.main_margins_md
	{
		margin-right: 5vw;
		margin-left: 5vw;
	}

	.flex-wrap-md
	{
		flex-wrap: wrap;
	}
}

/* phone sizes */
@media screen and (max-width: 768px)
{
	h1
	{
		font-size: 7vw;
	}

	h2
	{
		font-size: 6vw;
	}

	h3
	{
		font-size: 4vw;
	}

	p1
	{
		font-size: 8vw;
	}

	p2
	{
		font-size: 6vw;
	}

	p3
	{
		font-size: 4vw;
	}

	.flex-wrap-sm
	{
		flex-wrap: wrap;
	}
}



item:hover .overlay-text
{
	display: flex;
	flex-direction: column;

	opacity: 1;
	transform: translate(0, 0);
	color: #f8fbf8;
	
	background-color: rgba( 0,0,0, 0.6);
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	text-overflow: clip;
	border-radius: 2%;

	transition: opacity .6s ease-in-out;
	transition: transform .6s ease-in-out;
	transition: height .6s ease-in-out;
	padding: 5%;
}

item:hover .overlay-text *
{
	position: relative;
	width: auto;
	height: auto;
	opacity: 1;
	transform: translate(0,0);
	transition: translate 0 ease;
}

item:hover .overlay-text h1
{
	font-size: large;
	overflow-x: hidden;
	overflow-y: scroll;
}

item:hover .overlay-text p
{
	font-size: medium;
	overflow-x: hidden;
	overflow-y: scroll;
}

/* disable scrollbars on text */
.overlay-text h1::-webkit-scrollbar,
.overlay-text p::-webkit-scrollbar 
{
  display: none;
}

.overlay-text,
.overlay-text *
{
	font-size: 1%;
	/* position: absolute;
	top: 0;
	left: 0; */
	width: 0px;
	height: 0px;
	opacity: 0;
	/* font-size: 0; */
	transform: translate(0, 100%);

	pointer-events: none;

	transition: height 0.1 ease-in-out;
}

/* .overlay-icons
{
	display: inline-block;
	position: absolute;
	background-color: rgba( 0,0,0, 0.8);
	text-align: right;
	top: 0;
	right: 0;
	width: min-content;
	height: min-content;
	border-radius: 10px;
	padding: 3px;
} */

/* .overlay-icons *
{
	color: #4d80e6!important;
} */

.grid-container:has(item:hover) > item:not(:hover)
{
	scale: .9;
	/* opacity: .9; */
}

.tooltiptext 
{
  visibility: hidden;
  background-color: black;
  color: #fff;
  text-align: right;
  border-radius: 6px;
  padding-left: 1rem;
	padding: 0.5rem;
	overflow: hidden;

	/* transform: translate(-50%, 0); */
	pointer-events: none;
  position: absolute;
  z-index: 1;
}

li:hover > .tooltiptext,
block:hover > .tooltiptext 
{
  visibility: visible;
}

block 
{
	display: inline-block;
}



.horizontal_center
{
	text-align: center;
}

.vertical_center
{
	align-content: center;
}

.full_center
{
	text-align: center;
	align-content: center;
}

.experience, 
.experience *
{
	padding: 1rem;
}

.experience p,
.experience p2,
.experience p3,
.experience p4
{
	font-style: italic;
}

.experience h2,
.experience h3
{
	margin-top: 2rem;
	margin-bottom: 2rem;
}


/* .project_overview
{
	display: grid;
	grid-template-columns: repeat(24, minmax(1rem, calc(100%/24)));
	grid-template-rows: repeat(40, minmax(1rem, calc(100%/40)));
} */

.mborder-solid
{
	border-width: medium;
	border-style: solid;
}




