main
{
	display: grid;
	grid-template-columns: min-content auto;
	height: 100%;
}

#myCarousel
{
	background-color: black;
	/* color: white; */
}

.card-text, .card-text h1, .card-text p
{
	color: black;
}